<!DOCTYPE html>
<html lang="en">

<head>
      {{>headerlink}}

</head>

<body>
    {{>navbar}}
    <!--main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="sanjay" class="image-fluid" title="sanjay">
                        </figure>

                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to weather app</p>
                        <h1>I Am A <span class="text_clr"> MERN Stack Devloper </span> Youtuber And A Freelancer</h1>
                        <a href="/weather"><button>About Me</button></a>
                    </div>

                    <!--right side div-->
                    
                </div>
            </div>
        </div>
    </div>
    <!--footer code-->
    {{>footer}}
</body>

</html>